body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

main {
    text-align: center;
    margin: auto;
    max-width: 800px;
    padding: 2rem;
    background: #e1ecee;
}

.hidden {
    display: none !important;
}

#loading {
    margin-top: 2rem;
    border-top: 1px solid #7c91b0;
    padding-top: 1rem;
}
